@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn__2048:active {
  transform: scale(.9);
}
.btn__2048:hover {
  background-color: #8a7e75;
  opacity: 0.6;
  transform: scale(.9);
}

.btn__chess:active {
  transform: scale(.9);
}
.btn__chess:hover {
  opacity: 0.6;
  transform: scale(.9);
}

@media screen and (orientation: landscape) {

  .btn__2048 {
    visibility: visible;
    border: 0;
    border-radius: 2vmin;
    width: 40vmin;
    height: 40vmin;
    margin: 20px;
    background-color: #F6E6DA;
    background-image: url('./images/2048.png');
    background-size: 100%;
    transition: .4s;
  }

  .btn__chess {
    visibility: visible;
    border: 0;
    border-radius: 2vmin;
    width: 40vmin;
    height: 40vmin;
    margin: 20px;
    background-color: #111;
    background-image: url('./images/queen.png');
    background-size: 100%;
    transition: .4s;
  }

}

@media screen and (max-width: 576px) {
  body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .btn__fullscreen {
    visibility: visible;
    border: 0;
    border-radius: 2vmin;
    width: 10vmin;
    height: 10vmin;
    background-color: #F6E6DA;
    background-image: url('./images/FS.png');
    background-size: 100%;
    transition: .4s;
  }
  .btn__2048 {
    visibility: visible;
    border: 0;
    border-radius: 2vmin;
    width: 40vmin;
    height: 40vmin;
    margin: 20px;
    background-color: #F6E6DA;
    background-image: url('./images/2048.png');
    background-size: 100%;
    transition: .4s;
  }

  .btn__chess {
    visibility: visible;
    border: 0;
    border-radius: 2vmin;
    width: 40vmin;
    height: 40vmin;
    margin: 20px;
    background-color: #111;
    background-image: url('./images/queen.png');
    background-size: 100%;
    transition: .4s;
  }
}
